@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* VARIABLES */

:root {

    /* Pallete */
    --color-primary: #D0C625;
    --color-secondary: #283044; /* para el header */
    --color-secondary-degrade: #697286;
    --color-tertiary: #9C3848;

    /* Font Family */
    --text-primary: 'Open Sans';
    --text-secondary: 'Arial';
    --text-tertiary: 'helvetica';

    /* Spacings */
    --space-l: 30px;
    --space-m: 15px;

}

/* ANIMACIONES */

@keyframes abrirNavegador {
    
    0% {

        height: 76.31px;
    }


    
    100% {

        height: 234.31px;
    }
}


/* RESET CSS */

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{

    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{

    width: 100%;
    height: 100vh;
    line-height: 1.5;
}

a{

    text-decoration: none;
	color: inherit;
}

ul{

    list-style: none;
}

button, input, textarea, select{

    font: inherit;
    }

img{

    width: 100%;
}


/* BODY */


/* SCROLLBAR */

::-webkit-scrollbar {
    width: .75em;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
}

/* HEADER */

#header__desktop {

    margin: 0 5px;
    z-index: 1;
    position: sticky;
    top: 30px;

    font-family: var(--text-secondary);
    background-color: var(--color-secondary);
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header__desktop #logo__header {

    width: 14em;
    height: auto;
    padding: .75em;
}

#header__desktop ul {

    width: auto;
    display: flex;
    flex: 1;
}

#header__desktop ul li {

    flex-basis: 20em;
    font-size: 2em;
    display: flex;
    justify-content: center;
}

#header__desktop ul li a {

    overflow: hidden;
    display: block;
    position: relative;
    padding: 0.2em 0;
}
  
#header__desktop ul li a::after {

    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--color-primary);
    transition: opacity 300ms, transform 300ms;
    transform: translate3d(-100%, 0, 0);
}
  
#header__desktop ul li a:hover::after, #header__desktop ul li a:focus::after {

    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
    transform: translate3d(0, 0, 0);
}

#header__mobile {

    display: none;
}

/* MAIN */

/* caratula */

.caratula {

    font-family: var(--text-primary);

    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

    background-image: url(../img/fondo.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}

.caratula .marco {

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
    border: 1px solid rgba(255, 255, 255, 0.27);

    width: 90vw;
    height: 90vh;
    padding: var(--space-l);

    display: flex;
    flex-direction: column;
}

.caratula .marco section {

    display: flex;
    gap: calc(2*var(--space-m));
    height: 100%;
}

.caratula .marco article {

    width: 50%;
}

.caratula .marco .texto {

    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 8%;
}

.caratula .marco img {
    
    align-self: flex-start;
    width: 35em;
}

.caratula .marco .texto h1 {

    font-size: 5em;
    font-weight: 400;
}

.caratula .marco .texto h1 #cursiva {

    font-style: italic;
}

.caratula .marco .texto h1 #negrita {

    font-weight: 600;
}

.caratula .marco .conocenos {
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.caratula .marco .conocenos img {
    
    align-self: center;
    width: 80%;
}

.caratula .marco .conocenos a {

    width: 50%;
    align-self: center;
}

.caratula .marco .conocenos a button {

    width: 100%;
    padding: 5%;
    font-size: 3em;

    align-items: center;
    appearance: none;
    background-color: var(--color-secondary);
    background-image: linear-gradient(1deg, var(--color-secondary), var(--color-secondary-degrade) 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 15px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s,background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.caratula .marco .conocenos a button:active,
.caratula .marco .conocenos a button:focus {
    outline: none;
}

.caratula .marco .conocenos a button:hover {
    background-position: -20px -20px;
}

.caratula .marco .conocenos a button:focus:not(:active) {
    box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

/* nosotros */

.secciones {

    background-image: url(../img/fondo_invertido.svg);
    background-repeat: no-repeat;
    background-position: top;
}

.nosotros__seccion {

    width: 100%;
    height: 100vh;
    padding: calc(var(--space-l)*6) var(--space-l) 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    font-family: var(--text-primary);

    background-image: url(../img/fondo2.svg);
    background-repeat: no-repeat;
    background-position: bottom;

}

.nosotros__seccion .izquierda {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.nosotros__seccion .izquierda img {

    justify-self: flex-end;
    width: 35vw;
}

.nosotros__seccion .derecha {

    width: 40%;   
    text-align: right;
}

.nosotros__seccion .derecha h2 {

    font-size: 4.5em;
    margin-bottom: var(--space-m);
}

.nosotros__seccion .derecha p {

    font-size: 2rem;
}

/* servicios */

.servicios {

    background-image: url(../img/fondo2_invertido.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-position-x: right;
    background-size: 50%;
}

.servicios__seccion {

    width: 100%;
    height: 100vh;
    padding: calc(var(--space-l)*6) calc(var(--space-l)*3) 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: var(--text-primary);

    background-image: url(../img/fondo3.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: left;
    background-size: 50%;

}

.servicios__seccion .arriba {
  
    text-align: left;
}

.servicios__seccion .arriba h2 {

    font-size: 4.5em;
}

.servicios__seccion .arriba h3 {

    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 1em;
}

.servicios__seccion .arriba p {

    font-size: 2em;
    margin-bottom: 1em;
}

.servicios__seccion .abajo {
    
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.servicios__seccion .abajo img {

    width: 30%;
    margin-right: 10%;
}

/* contáctenos */

.contactenos {

    background: var(--color-secondary);
    background: linear-gradient(170deg, rgba(40,48,68,1) 83%, rgba(37,41,52,1) 100%);
}

.contactenos__seccion {

    padding: calc(var(--space-l)*2) calc(var(--space-l)*3) 0;
    height: 250px;
    text-align: center;
}

.contactenos__seccion .redesSociales {

    display: flex;
    justify-content: center;
    gap: 3%;
}

.contactenos__seccion .redesSociales .linea {

    border: 1px solid white;
    height: 2px;
    width: 20%;
    
    align-self: center;
}

.contactenos__seccion .redesSociales a {

    width: 50px;
    height: 50px;
    border-radius: 80px;

    background: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contactenos__seccion .redesSociales a img {

    width: 30px;
    
}

.contactenos__seccion #logo {

    width: 15%;
    height: auto;
    padding: 7px;
    padding-top: 30px;    
}

/* MEDIA QUERY */

@media(max-width: 1055px) {

    .caratula .marco .texto {

        width: 100%;
    }

    .caratula .marco section {

        flex-direction: column;
        justify-content: space-evenly;
    }

    .caratula .marco .conocenos {

        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }

    .caratula .marco .conocenos img {

        width: 40%;
    }

    .caratula .marco .conocenos a {

        width: 30%;
    }
}

@media(max-width: 990px) {

    #header__desktop {
        
        display: none;
    }

    #header__mobile {

        margin: 0 5px;
        z-index: 1;
        position: sticky;
        top: 30px;
    
        font-family: var(--text-secondary);
        background-color: var(--color-secondary);
        color: white;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    #header__mobile #logo__header {
    
        width: 100%;
        height: auto;
        padding: .75em;

        display: flex;
        justify-content: space-between;
    }

    #header__mobile #logo__header a {

        width: 14em;
    }
    
    #header__mobile ul {
    
        width: auto;
        display: flex;
        flex: 1;
        flex-direction: column;
    }
    
    #header__mobile ul li {
    
        flex-basis: 0;
        font-size: 2em;
        display: flex;
        justify-content: center;
    }

    #header__mobile ul li:last-child {

        margin-bottom: .3em;
    }
    
    #header__mobile ul li a {
    
        overflow: hidden;
        display: block;
        position: relative;
        padding: 0.2em 0;
    }
      
    #header__mobile ul li a::after {
    
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1em;
        background-color: var(--color-primary);
        transition: opacity 300ms, transform 300ms;
        transform: translate3d(-100%, 0, 0);
    }
      
    #header__mobile ul li a:hover::after, #header__mobile ul li a:focus::after {
    
        opacity: 1;
        transform: translate3d(0, 0.2em, 0);
        transform: translate3d(0, 0, 0);
    }

    #header__mobile #boton__responsive {

        display: inline-block;
        width: 5em;
        height: 5em;
        margin-block: auto;
        vertical-align: middle;
        padding: .5em;
        border-radius: 10px;
    }

    #header__mobile .sinSeleccionar {

        border: 2px solid rgba(255, 255, 255, 0.55);
    }

    #header__mobile .seleccionado {

        border: 4px solid rgba(255, 255, 255, 0.55);
    }

    .mostrar__navegacion {

        animation-name: abrirNavegador;
        animation-timing-function: linear;        
        animation-duration: .15s;
        animation-fill-mode: both;
    }

    #header__mobile .anular__navegacion {

        display: none;
    }

    @media(max-width: 800px) {

        html {
            font-size: 50%;
        }
    }

    @media(max-width: 600px) {

        .caratula .marco .logo__caratula {

            margin: auto;
        }

        .caratula .marco .conocenos {

            flex-direction: column;
            gap: 8em;
        }

        .caratula .marco .conocenos img {

            width: 35em;
        }
    
        .caratula .marco .conocenos a {
    
            width: 25em;
        }
    }

    @media(max-width: 485px) {

        html {
            font-size: 40%;
        }
    }
}

